<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JXNavigationTransition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>195C04571C04AE7E003A79FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>195C04701C04AE7E003A79FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>195C047B1C04AE7E003A79FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
